.book-card {
  display: flex;
  width: 260px;


  @media (min-width: $screen-md) {
    padding-left: 45px;
    padding-right: 45px;
  }

  @media (min-width: $screen-lg) {
    padding-left: 20px;
    padding-right: 20px;
  }

  &__link {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  &__title {
    order: 2;
    font-size: 24px;
    color: $black-color;
  }

  &__img {
    order: 1;
    width: 220px;
    height: 310px;
  }

  &__descr {
    order: 3;
    font-size: 16px;
    font-style: italic;
    color: $black-color;
  }

  &__price {
    order: 4;
    justify-content: flex-end;
    font-size: 16px;
    font-weight: 800;
    color: $black-color;
  }
}
