.book-card {
  display: flex;
  height: 500px;
  width: 260px;

  @media (min-width: $screen-m) {
    height: 550px;
  }

  &__link {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  &__title {
    order: 2;
    font-size: 24px;
    color: $black-color;
  }

  &__img {
    order: 1;
    width: 100%;
    height: auto;
  }

  @media (min-width: $screen-m) {
    height: 370px;
    width: 260px;
  }

  &__descr {
    order: 3;
    font-size: 16px;
    font-style: italic;
    color: $black-color;
  }

  &__price {
    order: 4;
    font-size: 16px;
    font-weight: 800;
    color: $black-color;
  }
}
