.delivery {


  &__inner {

  }

  &__title {

  }

  &__text {

  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
