.page-header {
  display: flex;
  justify-content: center;
  background-color: $white-color;
  height: 50px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 83.3vw;
    max-width: 1160px;

    @media (min-width: $screen-md) {
      width: 94.4vw;
    }
  }

  &__nav {
    order: 3;

    @media (min-width: $screen-md) {
      order: 0;
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__basket {}

  &__phone {
    display: none;

    @media (min-width: $screen-md) {
      display: block;
      margin-left: 20px;
    }
  }
}
