.slider {
  // color: $black-color;

  &__item {
    display: flex;
    // flex-direction: column;
  }

  &__subtitle {
    font-style: italic;
    font-size: 14px;
  }

  &__descr-wrap {
    border: 8px solid $gray-dark;
    padding: 30px 10px;
    // overflow-x: auto;
    // width: 94vw;
  }

  &__item-link {
    // width: 0;
    display: none;

    @media (min-width: $screen-l) {
      display: block;
    }
  }

  &__item-img {
    width: 300px;
    height: 425px;
  }
}
