.slider {

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__subtitle {

  }

  &__descr-wrap {
    box-sizing: border-box;
    border: 8px solid $gray-dark;
    padding: 30px 10px;
  }

  &__item-img {
    width: 0;

    @media (min-width: $screen-l) {
      width: 300px;
      height: 425px;
    }
  }
}
