.page-header
  display: flex
  justify-content: center
  background-color: $white-color


  &__inner
    display: flex
    justify-content: space-between
    align-items: center
    width: 83%

  &__basket
    height: 100%
    cursor: pointer
