.page-header
  display: flex
  justify-content: center
  background-color: #fff



  &__inner
    display: flex
    justify-content: space-between
    align-items: center
    width: 83%

  &__basket
    height: 100%
    cursor: pointer

.logo

.main-nav

  &__burger
    cursor: pointer


  &__toggle
    display: none

  &__list
    display: none

  &__item


  &__link







